.title {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sider {
  height: 100%;
}
.detile{
  display: flex;
  justify-content: center;
  position: fixed;
  top:20%;
  left:30%;
}